section.aboutUs {
    width: 1200px;
    margin: 30px auto;

    h1 {
        margin: 40px 0;
        font-size: 48px;
        color: #43b1c9;
        text-align: center;
        font-weight: 400;
    }

    div {
        display: flex;

        p {
            width: 70%;
            padding: 0 20px 0 10px;
            font-size: 16px;
            line-height: 150%;
            text-align: justify;

            span {
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 60%;
            }
        }

        img {
            width: 40%;
            height: 100%;
            border-radius: 1%;
            -webkit-box-shadow: 6px 3px 14px 1px rgba(0, 0, 0, 0.22);
            -moz-box-shadow: 6px 3px 14px 1px rgba(0, 0, 0, 0.22);
            box-shadow: 6px 3px 14px 1px rgba(0, 0, 0, 0.22);
        }
    }
}

@media(max-width: 1400px) {
    section.aboutUs {
        width: 1000px;

        div {
            p {
                line-height: 130%;
            }
        }
    }
}

@media(max-width:1200px) {
    section.aboutUs {
        width: 900px;

        h1 {
            font-size: 40px;
        }

        div {
            p {
                font-size: 14px;
            }
        }
    }
}

@media(max-width:1024px) {
    section.aboutUs {
        width: 900px;
        margin: 0 auto;
        padding-top: 20px;

        div {
            p {
                width: 60%;
            }

            img {
                width: 35%;
            }
        }
    }
}

@media(max-width:900px) {
    section.aboutUs {
        width: 740px;

        div {
            position: relative;

            p {
                width: 100%;
                padding: 10px;
                color: white;
                line-height: 150%;
                text-shadow: 2px 1px 2px #000000;
                font-size: 16px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: -1;
            }

            div.shadow {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, .4);
                z-index: -1;
            }
        }
    }
}

@media(max-width: 768px) {
    section.aboutUs {
        width: 600px;

        h1 {
            margin-bottom: 5px;
            font-size: 36px;
        }

        div {
            p {
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 600px) {
    section.aboutUs {
        width: 100%;

        div {

            p {
                font-size: 14px;
            }
        }
    }
}