footer {
    padding: 40px 0 0 0;
    background-image: url('../img/vintage-wallpaper.png');

    div {
        display: flex;
        justify-content: center;
        margin: 0 40px;

        .footer-left {
            width: 200px;

            div {

                img {
                    display: block;
                    max-height: 161px;
                    // margin-top: calc(320px/2 - 161px/2);
                }
            }
        }

        .footer-centre {
            display: block;
            width: 400px;

            .footer-nav {
                display: flex;

                .footer-list-right,
                .footer-list-left {
                    flex-direction: column;
                    border: none;
                    position: static;

                    li::before {
                        width: 17px;
                        margin-right: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        content: '';
                        height: 5px;
                        border-top: 2px solid #43b1c9;
                        transition: .5s;
                    }

                    li {
                        text-align: left;
                        font-size: 14px;
                        padding: 8px 0;
                        list-style: none;


                        a {
                            color: white;
                            font-size: 14px;
                            cursor: pointer;

                        }
                    }

                    li:hover::before {
                        width: 35px;
                    }
                }

                .footer-list-right {
                    margin-left: 50px;
                }

                .footer-list-left {
                    width: 120px;
                }
            }
        }

        .footer-right {
            width: 400px;
            display: flex;

            .contact {
                display: block;

                p {
                    width: 100%;
                    margin: 15px 0;
                    font-size: 14px;
                    color: white;
                    letter-spacing: 1px;
                    line-height: 150%;
                }

                span {
                    margin-top: 16px;
                    margin-right: 20px;
                    color: white;

                    i {
                        font-size: 14px;
                    }
                }
            }

            .socials {
                flex-direction: column;

                a {
                    padding: 5px;

                    i {
                        font-size: 30px;
                        color: white;
                    }

                    .fa-facebook-square:hover {
                        color: #4267b2;
                    }

                    .fa-twitter-square:hover {
                        color: #1da1f2;
                    }

                    .fa-instagram-square:hover {
                        color: black;
                    }

                    .fa-linkedin:hover {
                        color: #0077b5;
                    }
                }
            }
        }
    }

    .copyright {
        display: block;
        margin: 20px 0 0 0;
        padding: 0;
        background-color: #000;
        color: white;

        p {
            display: block;
            padding: 10px 0px;
            font-size: 12px;
            text-align: center;

            span {
                padding-left: 5px;
            }
        }
    }
}

@media(max-width:1300px) {
    footer {
        div {
            .footer-centre {
                width: 500px;

                .footer-nav {

                    .footer-list-right,
                    .footer-list-left {
                        li {
                            font-size: 12px;

                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .footer-right {
                width: 300px;

                .contact {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media(max-width:1200px) {
    footer {
        div {

            .footer-left {
                width: 150px;
                margin-right: 60px;
            }

            .footer-centre {
                margin: 0;

                .footer-nav {
                    .footer-list-right {
                        margin-left: 20px;
                    }

                }

                .footer-right {

                    .contact {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media(max-width: 1024px) {
    footer {
        div {
            display: block;
            margin: 0 auto;

            .footer-left {
                width: 200px;
                margin: 0 auto;
            }

            .footer-centre {
                margin: 0 auto;

                .footer-nav {
                    margin: 10px 50px 10px 100px;

                    .footer-list-left {
                        margin-right: 40px;
                    }
                }
            }

            .footer-right {
                display: block;

                .contact {

                    div {
                        display: flex;
                    }

                    p {
                        font-size: 20px;
                    }

                    span {

                        i {
                            font-size: 20px;
                        }

                        i.fa-map-marker-alt {
                            margin-top: 20px;
                        }
                    }
                }

                .socials {
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}