header {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    div.bg-photo img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

    .header-logo {
        display: flex;
        position: relative;
        width: 100%;
        margin: 1% 0 10px;

        .header-contact {
            width: 1200px;
            height: 72px;
            margin: 0 auto;
            font-size: 18px;
            color: white;

            p:nth-child(1) {
                margin-top: 30px;
            }
        }

        .logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;


            img {
                width: 30%;
            }
        }
    }

    div.header-text {
        width: 100%;
        color: white;
        text-transform: uppercase;
        text-align: center;

        h1,
        h2 {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 60px;
            font-weight: 300;
        }

        h2 {
            top: 60%;
            left: 50%;
        }

        h1::after {
            content: attr(data-text);
            width: 100%;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -45%);
            // overflow: hidden;
            animation: loading 1s cubic-bezier(0.94, 1.22, 1, 0.96);
        }

        h2::after {
            content: attr(data-text);
            width: 100%;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -45%);
            // overflow: hidden;
            animation: loading 1s .2s cubic-bezier(0.94, 1.22, 1, 0.96);

        }

        @keyframes loading {
            0% {
                transform: translate(-70%, -45%);
                opacity: 0;
            }

            30% {
                transform: translate(-70%, -45%);
            }

            90% {
                opacity: 0;
            }

            100% {
                transform: translate(-50%, -45%);
                opacity: 1;
            }
        }

        h3 {
            position: absolute;
            width: 100%;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 26px;
            font-weight: 300;
        }

        h3::after {
            content: attr(data-text);
            width: 100%;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -45%);
            animation: loading 1s .6s cubic-bezier(0.94, 1.22, 1, 0.96);
        }
    }
}