nav {
    text-transform: uppercase;

    ul {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        padding: 10px 0;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 1px solid rgba(255, 255, 255, .3);
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        ;
    }


    li {
        flex-grow: 1;
        font-size: 32px;
        list-style: none;
        text-align: center;

        a {
            text-decoration: none;
            color: white;

        }

    }
}