section.our-team {
    width: 800px;
    margin: 0 auto;

    h1 {
        margin: 40px 0 10px 0;
        font-size: 48px;
        color: #43b1c9;
        text-align: center;
        font-weight: 400;
    }

    h3 {
        width: 600px;
        margin: 0 auto 30px;
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        font-style: italic;

        span {
            font-style: normal;
        }
    }

    div {
        div {
            display: flex;
            margin-bottom: 20px;
            // padding-bottom: 10px;
            border-bottom: 1px solid #43b1c9;

            div {
                flex-direction: column;
                border: none;

                div {
                    border: none;

                    img {
                        display: block;
                        width: 250px;
                    }
                }

                h4 {
                    margin: 10px auto;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }

            p {
                margin-left: 40px;
                font-size: 16px;
                line-height: 150%;
                text-align: justify;
                letter-spacing: 1px;
            }
        }

        div.right {
            flex-direction: row-reverse;

            p {
                margin-left: 0;
                margin-right: 40px;
            }
        }

        div.maja-marta {
            flex-direction: column;

            div.centre {
                margin: 0;

                div {
                    flex-direction: row;
                    justify-content: center;
                    padding: 0 40px;

                    img {
                        max-height: 200px;
                    }
                }
            }

            p {
                margin: 0 0 20px 0;
            }
        }

        div.ola {
            border: none
        }
    }
}

@media(max-width:1200px) {
    section.our-team {
        h1 {
            font-size: 40px;
        }
    }
}

@media(max-width:1024px) {
    section.our-team {
        h1 {
            font-size: 40px;
        }

        div {
            div {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width:900px) {
    section.our-team {
        width: 100%;
        padding: 0 10px;
    }
}

@media(max-width:768px) {
    section.our-team {

        h1 {
            margin-bottom: 5px;
            font-size: 36px;
        }

        h3 {
            width: 80%;
            font-size: 14px;
        }

        div {
            div {
                p {
                    font-size: 12px;
                }

            }

        }

    }
}

@media(max-width:600px) {
    section.our-team {

        div {

            div,
            div.right {
                flex-direction: column;

                p {
                    margin: 0;
                }
            }

            div {
                div {
                    margin: 0;

                    img {
                        margin: 0 auto;
                    }
                }
            }

            div.maja-marta {
                div.centre {
                    div {
                        flex-direction: column;
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}