section.city-break {
  padding: 40px calc((100% - 1200px) / 2) 80px calc((100% - 1200px) / 2);
  background-color: #eff3f8;
  position: relative;
}

section.city-break h1 {
  width: 50%;
  margin: 40px 0;
  position: absolute;
  font-size: 48px;
  color: #43b1c9;
  text-align: center;
  font-weight: 400;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

section.city-break div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  margin: 20px 10px;
  padding-top: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.city-break div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 20px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  background-color: #fff;
}

section.city-break div div .cities-photo {
  width: 350px;
  max-height: 200px;
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}

section.city-break div div .cities-photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: .3s;
  transition: .3s;
}

section.city-break div div h2 {
  margin: 20px 0 10px 0;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  color: #43b1c9;
  letter-spacing: 2px;
  background-color: #fff;
  z-index: 3;
}

section.city-break div div h3 {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px;
}

section.city-break div div p {
  height: 110px;
  padding: 0 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 180%;
}

section.city-break div div p span {
  display: block;
  margin-top: 10px;
  margin-left: 50%;
  font-style: normal;
}

section.city-break div div button {
  width: 150px;
  margin: 20px auto 0 auto;
  padding: 10px 0;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

section.city-break div div button a {
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

section.city-break div div button:hover {
  background-color: #43b1c9;
  border-color: #43b1c9;
}

section.city-break div div button:hover a {
  color: #fff;
}

section.city-break div div:hover .cities-photo img {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}
/*# sourceMappingURL=CityBreak.css.map */